.app-header-container {

}



.app-header {
  padding-top: 1rem;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__items {
    color: #0000008a;

  }
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.logo {
  height: 3rem;
}

.links {
  display: flex;
  align-items: center;
  a + a {
    margin-left: 1rem;
  }
}