.app-footer {
    position: relative;
    width: 100%;
    // height: 5rem;
}

.dots {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.dot {
  &.color {
    &:before {
      background: green;
    }
  }

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    display: block;

  }

}