.app-footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10px, 10px));
  grid-template-rows: repeat(auto-fill, minmax(10px, 10px));
  grid-gap: 5px;
}

.dot {
  height: 4px;
  width: 4px;
  transition: background 5s;

  &.color {
    background: #27ae60;
  }

  &:hover {
    background: red;
  }
}
